.about-text{
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    margin-top: 10%;
    box-shadow: 0 0 1px 1px rgba(20, 23, 28, 0.1),
    0 3px 1px 0 rgba(20, 23, 28, 0.1);
}

.txt{
    padding:8.5px;
}
