h5, h3{
    max-width: 60rem;
}
Link {
    color: #0f7c90;
    text-decoration: none;
}
.welcome-tittle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.udlite-heading-xxl {
    font-family: 'SF Pro Display',-apple-system,BlinkMacSystemFont,Roboto,'Segoe UI',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -0.02rem;
    font-size: 2.2rem;
}
.my-learning-unit--title--3Oy5V {
    margin-top: 1.5rem;
    color: #3c3b37;
    margin-bottom: .8rem;
}
.udlite-container {
    width: 100%;
    max-width: 134rem;
    margin-right: auto;
    margin-left: auto;
    padding-right: 2.4rem;
    padding-left: 2.4rem;
}
.left{
    margin-bottom:1rem ;
}
.home-left{
    border-left: 1px solid #a7a7a7;
}

.HomeLoginForm  {
    font-weight: 700;
    font-size: 16px;
}

.component-margin{
    margin-top: 48px;
    border: #a7a7a7 solid 1px;
    border-radius: 5px;
}
.component-padding{
    text-align: center;
    padding: 48px 24px;
    background-position: 0 -2.4rem;
    background-size: auto 120%;
    display: flex;
    flex-direction: column;
}
.onboarding--title--29uIA {
    margin-bottom: 1.8rem;
    font-family: sf pro display,-apple-system,BlinkMacSystemFont,Roboto,segoe ui,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -.02rem;
    font-size: 2rem;
}

.u-component-text{
    margin: 0px;
}

.u-component-button{
    font-family: 'SF Pro Display',-apple-system,BlinkMacSystemFont,Roboto,'Segoe UI',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -0.02rem;
    font-size: 1.6rem;
}
/*Media*/
@media screen and (max-width: 991px){
    .home-left{
        padding-top:24px ;
        border-top: 1px solid #a7a7a7;
        border-left: none;
    }
    
}