*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

h5, h3{
    max-width: 60rem;
}
a {
    color: #0f7c90;
    text-decoration: none;
}
.welcome-tittle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.udlite-heading-xxl {
    font-family: 'SF Pro Display',-apple-system,BlinkMacSystemFont,Roboto,'Segoe UI',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -0.02rem;
    font-size: 2.2rem;
}
.my-learning-unit--title--3Oy5V {
    margin-top: 1.5rem;
    color: #3c3b37;
    margin-bottom: .8rem;
}
.udlite-container {
    width: 100%;
    max-width: 134rem;
    margin-right: auto;
    margin-left: auto;
    padding-right: 2.4rem;
    padding-left: 2.4rem;
}
.left{
    margin-bottom:1rem ;
}
.home-left{
    border-left: 1px solid #a7a7a7;
}

.HomeLoginForm  {
    font-weight: 700;
    font-size: 16px;
}

.component-margin{
    margin-top: 48px;
    border: #a7a7a7 solid 1px;
    border-radius: 5px;
}
.component-padding{
    background: #6e1a52;
    background-size: auto 120%;
    background-position: 0 -2.4rem;
    color: #fff;
    padding-top: 4.8rem;
    padding-bottom: 4.8rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.advertising-banner--title--2D50e {
    margin: 0 0 .8rem;
}
.onboarding--title--29uIA {
    margin-bottom: .8rem;
    font-family: sf pro display,-apple-system,BlinkMacSystemFont,Roboto,segoe ui,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -.02rem;
    font-size: 3.2rem;
}
.u-component-text{
    margin: 0px;
}

.u-component-button{
    flex-shrink: 0;
    font-family: 'SF Pro Display',-apple-system,BlinkMacSystemFont,Roboto,'Segoe UI',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -0.02rem;
    font-size: 1.6rem;
}
.u-component-button a {
    color: #fff;
    padding: .5rem;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 3px;
} 
.onboarding--subtitle--1pGkW {
    margin-bottom: 1.6rem;
    font-family: sf pro text,-apple-system,BlinkMacSystemFont,Roboto,segoe ui,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
    font-weight: 400;
    line-height: 1.4;
    font-size: 1.6rem;
}
.advertising-banner--dark--KftMn .advertising-banner--action-buttons--2MjgS .udlite-btn-secondary {
    color: #fff;
    border-color: #fff;
}
.udlite-btn-large {
    height: 4.8rem;
}
.udlite-btn {
    position: relative;
    align-items: center;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    min-width: 10rem;
    padding: 0 1.6rem;
    justify-content: center;
    user-select: none;
    vertical-align: bottom;
}
.udlite-heading-md {
    font-family: 'SF Pro Display',-apple-system,BlinkMacSystemFont,Roboto,'Segoe UI',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -0.02rem;
}
/*Media*/
@media screen and (max-width: 991px){
    .home-left{
        padding-top:24px ;
        border-top: 1px solid #a7a7a7;
        border-left: none;
    }
    
}